In [ ]:
import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
import shapely.wkt
import statistics
from shapely.geometry import Polygon
from shapely.wkt import loads,dumps 
import os
import time

:

In [12]:
begin=time.time()
df=pd.read_csv(r"C:\Users\Abishek S\OneDrive - PESUNIVERSITY\Desktop\CCBD\Copy of 01_WKT1985.csv",names=['wktcolumn'])
df

                                               wktcolumn
0      POLYGON ((46037.8372 2255624.84048778,46037.83...
1      POLYGON ((134337.8372 2187724.84048778,134337....
2      POLYGON ((134537.8372 2187624.84048778,134737....
3      POLYGON ((165337.8372 2240124.84048778,165437....
4      POLYGON ((166137.8372 2239924.84048778,166237....
...                                                  ...
60678  POLYGON ((-273162.1628 2598724.84048778,-27316...
60679  POLYGON ((261637.8372 2579424.84048778,261737....
60680  POLYGON ((306637.8372 2579424.84048778,306637....
60681  POLYGON ((518637.8372 2565824.84048778,518637....
60682  POLYGON ((522837.8372 2565824.84048778,522937....

[60683 rows x 1 columns]

In [13]:
geometry = df['wktcolumn'].map(shapely.wkt.loads)
df = df.drop('wktcolumn', axis=1)
gdf = gpd.GeoDataFrame(df, crs="EPSG:4326", geometry=geometry)
gdf

                                                geometry
0      POLYGON ((46037.837 2255624.840, 46037.837 225...
1      POLYGON ((134337.837 2187724.840, 134337.837 2...
2      POLYGON ((134537.837 2187624.840, 134737.837 2...
3      POLYGON ((165337.837 2240124.840, 165437.837 2...
4      POLYGON ((166137.837 2239924.840, 166237.837 2...
...                                                  ...
60678  POLYGON ((-273162.163 2598724.840, -273162.163...
60679  POLYGON ((261637.837 2579424.840, 261737.837 2...
60680  POLYGON ((306637.837 2579424.840, 306637.837 2...
60681  POLYGON ((518637.837 2565824.840, 518637.837 2...
60682  POLYGON ((522837.837 2565824.840, 522937.837 2...

[60683 rows x 1 columns]

In [14]:
#Calculating area
a=gpd.GeoSeries(df['geometry'])
df['area']=a.area
min_size=min(a.area)
std_dev=statistics.stdev(a.length)
# df
# min_size
max_size=max(a.area)
# max_size
avg_size=statistics.mean((a.area))
# avg_size
print(min_size)
print(max_size)
print(avg_size)
print(std_dev)

C:\Users\Abishek S\AppData\Local\Temp\ipykernel_4552\4052318909.py:3: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  df['area']=a.area
C:\Users\Abishek S\AppData\Local\Temp\ipykernel_4552\4052318909.py:4: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  min_size=min(a.area)
C:\Users\Abishek S\AppData\Local\Temp\ipykernel_4552\4052318909.py:5: UserWarning: Geometry is in a geographic CRS. Results from 'length' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  std_dev=statistics.stdev(a.length)
C:\Users\Abishek S\AppData\Local\Temp\ipykernel_4552\4052318909.py:8: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  max_size=max(a.area)
C:\Users\Abishek S\AppData\Local\Temp\ipykernel_4552\4052318909.py:10: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  avg_size=statistics.mean((a.area))

9999.99999999418
23474560000.0
5666220.358255195
196324.30614780824

In [15]:
#Calculating perimeter
p=gpd.GeoSeries(df['geometry'])
df['perimeter']=p.length
# df
avg_perimeter=statistics.mean(p.length)
std_dev=statistics.stdev(p.length)
# avg_perimeter
max_perimeter=max(p.length)
# max_perimeter
min_perimeter=min(p.length)
# min_perimeter
print(min_perimeter)
print(max_perimeter)
print(avg_perimeter)
print(std_dev)

C:\Users\Abishek S\AppData\Local\Temp\ipykernel_4552\4135423296.py:3: UserWarning: Geometry is in a geographic CRS. Results from 'length' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  df['perimeter']=p.length
C:\Users\Abishek S\AppData\Local\Temp\ipykernel_4552\4135423296.py:5: UserWarning: Geometry is in a geographic CRS. Results from 'length' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  avg_perimeter=statistics.mean(p.length)
C:\Users\Abishek S\AppData\Local\Temp\ipykernel_4552\4135423296.py:6: UserWarning: Geometry is in a geographic CRS. Results from 'length' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  std_dev=statistics.stdev(p.length)
C:\Users\Abishek S\AppData\Local\Temp\ipykernel_4552\4135423296.py:8: UserWarning: Geometry is in a geographic CRS. Results from 'length' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  max_perimeter=max(p.length)
C:\Users\Abishek S\AppData\Local\Temp\ipykernel_4552\4135423296.py:10: UserWarning: Geometry is in a geographic CRS. Results from 'length' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  min_perimeter=min(p.length)

399.9999999998836
25352600.0
11425.005355700938
196324.30614780824

In [ ]:
df['area'] = df.geometry

:

In [17]:
df

                                                geometry      area  perimeter
0      POLYGON ((46037.837 2255624.840, 46037.837 225...   10000.0      400.0
1      POLYGON ((134337.837 2187724.840, 134337.837 2...   10000.0      400.0
2      POLYGON ((134537.837 2187624.840, 134737.837 2...   20000.0      600.0
3      POLYGON ((165337.837 2240124.840, 165437.837 2...  100000.0     1600.0
4      POLYGON ((166137.837 2239924.840, 166237.837 2...   10000.0      400.0
...                                                  ...       ...        ...
60678  POLYGON ((-273162.163 2598724.840, -273162.163...   10000.0      400.0
60679  POLYGON ((261637.837 2579424.840, 261737.837 2...   10000.0      400.0
60680  POLYGON ((306637.837 2579424.840, 306637.837 2...   20000.0      600.0
60681  POLYGON ((518637.837 2565824.840, 518637.837 2...   10000.0      400.0
60682  POLYGON ((522837.837 2565824.840, 522937.837 2...   10000.0      400.0

[60683 rows x 3 columns]

In [50]:
list=[]
for i in np.arange(9999,23504560000,50000000):
    list.append(i)
list

[9999,
 50009999,
 100009999,
 150009999,
 200009999,
 250009999,
 300009999,
 350009999,
 400009999,
 450009999,
 500009999,
 550009999,
 600009999,
 650009999,
 700009999,
 750009999,
 800009999,
 850009999,
 900009999,
 950009999,
 1000009999,
 1050009999,
 1100009999,
 1150009999,
 1200009999,
 1250009999,
 1300009999,
 1350009999,
 1400009999,
 1450009999,
 1500009999,
 1550009999,
 1600009999,
 1650009999,
 1700009999,
 1750009999,
 1800009999,
 1850009999,
 1900009999,
 1950009999,
 2000009999,
 2050009999,
 2100009999,
 2150009999,
 2200009999,
 2250009999,
 2300009999,
 2350009999,
 2400009999,
 2450009999,
 2500009999,
 2550009999,
 2600009999,
 2650009999,
 2700009999,
 2750009999,
 2800009999,
 2850009999,
 2900009999,
 2950009999,
 3000009999,
 3050009999,
 3100009999,
 3150009999,
 3200009999,
 3250009999,
 3300009999,
 3350009999,
 3400009999,
 3450009999,
 3500009999,
 3550009999,
 3600009999,
 3650009999,
 3700009999,
 3750009999,
 3800009999,
 3850009999,
 3900009999,
 3950009999,
 4000009999,
 4050009999,
 4100009999,
 4150009999,
 4200009999,
 4250009999,
 4300009999,
 4350009999,
 4400009999,
 4450009999,
 4500009999,
 4550009999,
 4600009999,
 4650009999,
 4700009999,
 4750009999,
 4800009999,
 4850009999,
 4900009999,
 4950009999,
 5000009999,
 5050009999,
 5100009999,
 5150009999,
 5200009999,
 5250009999,
 5300009999,
 5350009999,
 5400009999,
 5450009999,
 5500009999,
 5550009999,
 5600009999,
 5650009999,
 5700009999,
 5750009999,
 5800009999,
 5850009999,
 5900009999,
 5950009999,
 6000009999,
 6050009999,
 6100009999,
 6150009999,
 6200009999,
 6250009999,
 6300009999,
 6350009999,
 6400009999,
 6450009999,
 6500009999,
 6550009999,
 6600009999,
 6650009999,
 6700009999,
 6750009999,
 6800009999,
 6850009999,
 6900009999,
 6950009999,
 7000009999,
 7050009999,
 7100009999,
 7150009999,
 7200009999,
 7250009999,
 7300009999,
 7350009999,
 7400009999,
 7450009999,
 7500009999,
 7550009999,
 7600009999,
 7650009999,
 7700009999,
 7750009999,
 7800009999,
 7850009999,
 7900009999,
 7950009999,
 8000009999,
 8050009999,
 8100009999,
 8150009999,
 8200009999,
 8250009999,
 8300009999,
 8350009999,
 8400009999,
 8450009999,
 8500009999,
 8550009999,
 8600009999,
 8650009999,
 8700009999,
 8750009999,
 8800009999,
 8850009999,
 8900009999,
 8950009999,
 9000009999,
 9050009999,
 9100009999,
 9150009999,
 9200009999,
 9250009999,
 9300009999,
 9350009999,
 9400009999,
 9450009999,
 9500009999,
 9550009999,
 9600009999,
 9650009999,
 9700009999,
 9750009999,
 9800009999,
 9850009999,
 9900009999,
 9950009999,
 10000009999,
 10050009999,
 10100009999,
 10150009999,
 10200009999,
 10250009999,
 10300009999,
 10350009999,
 10400009999,
 10450009999,
 10500009999,
 10550009999,
 10600009999,
 10650009999,
 10700009999,
 10750009999,
 10800009999,
 10850009999,
 10900009999,
 10950009999,
 11000009999,
 11050009999,
 11100009999,
 11150009999,
 11200009999,
 11250009999,
 11300009999,
 11350009999,
 11400009999,
 11450009999,
 11500009999,
 11550009999,
 11600009999,
 11650009999,
 11700009999,
 11750009999,
 11800009999,
 11850009999,
 11900009999,
 11950009999,
 12000009999,
 12050009999,
 12100009999,
 12150009999,
 12200009999,
 12250009999,
 12300009999,
 12350009999,
 12400009999,
 12450009999,
 12500009999,
 12550009999,
 12600009999,
 12650009999,
 12700009999,
 12750009999,
 12800009999,
 12850009999,
 12900009999,
 12950009999,
 13000009999,
 13050009999,
 13100009999,
 13150009999,
 13200009999,
 13250009999,
 13300009999,
 13350009999,
 13400009999,
 13450009999,
 13500009999,
 13550009999,
 13600009999,
 13650009999,
 13700009999,
 13750009999,
 13800009999,
 13850009999,
 13900009999,
 13950009999,
 14000009999,
 14050009999,
 14100009999,
 14150009999,
 14200009999,
 14250009999,
 14300009999,
 14350009999,
 14400009999,
 14450009999,
 14500009999,
 14550009999,
 14600009999,
 14650009999,
 14700009999,
 14750009999,
 14800009999,
 14850009999,
 14900009999,
 14950009999,
 15000009999,
 15050009999,
 15100009999,
 15150009999,
 15200009999,
 15250009999,
 15300009999,
 15350009999,
 15400009999,
 15450009999,
 15500009999,
 15550009999,
 15600009999,
 15650009999,
 15700009999,
 15750009999,
 15800009999,
 15850009999,
 15900009999,
 15950009999,
 16000009999,
 16050009999,
 16100009999,
 16150009999,
 16200009999,
 16250009999,
 16300009999,
 16350009999,
 16400009999,
 16450009999,
 16500009999,
 16550009999,
 16600009999,
 16650009999,
 16700009999,
 16750009999,
 16800009999,
 16850009999,
 16900009999,
 16950009999,
 17000009999,
 17050009999,
 17100009999,
 17150009999,
 17200009999,
 17250009999,
 17300009999,
 17350009999,
 17400009999,
 17450009999,
 17500009999,
 17550009999,
 17600009999,
 17650009999,
 17700009999,
 17750009999,
 17800009999,
 17850009999,
 17900009999,
 17950009999,
 18000009999,
 18050009999,
 18100009999,
 18150009999,
 18200009999,
 18250009999,
 18300009999,
 18350009999,
 18400009999,
 18450009999,
 18500009999,
 18550009999,
 18600009999,
 18650009999,
 18700009999,
 18750009999,
 18800009999,
 18850009999,
 18900009999,
 18950009999,
 19000009999,
 19050009999,
 19100009999,
 19150009999,
 19200009999,
 19250009999,
 19300009999,
 19350009999,
 19400009999,
 19450009999,
 19500009999,
 19550009999,
 19600009999,
 19650009999,
 19700009999,
 19750009999,
 19800009999,
 19850009999,
 19900009999,
 19950009999,
 20000009999,
 20050009999,
 20100009999,
 20150009999,
 20200009999,
 20250009999,
 20300009999,
 20350009999,
 20400009999,
 20450009999,
 20500009999,
 20550009999,
 20600009999,
 20650009999,
 20700009999,
 20750009999,
 20800009999,
 20850009999,
 20900009999,
 20950009999,
 21000009999,
 21050009999,
 21100009999,
 21150009999,
 21200009999,
 21250009999,
 21300009999,
 21350009999,
 21400009999,
 21450009999,
 21500009999,
 21550009999,
 21600009999,
 21650009999,
 21700009999,
 21750009999,
 21800009999,
 21850009999,
 21900009999,
 21950009999,
 22000009999,
 22050009999,
 22100009999,
 22150009999,
 22200009999,
 22250009999,
 22300009999,
 22350009999,
 22400009999,
 22450009999,
 22500009999,
 22550009999,
 22600009999,
 22650009999,
 22700009999,
 22750009999,
 22800009999,
 22850009999,
 22900009999,
 22950009999,
 23000009999,
 23050009999,
 23100009999,
 23150009999,
 23200009999,
 23250009999,
 23300009999,
 23350009999,
 23400009999,
 23450009999,
 23500009999]

In [51]:
for (columnName, columnData) in df.iteritems():
    if columnName=="area":
        print('Column Contents : ', columnData.values)
        arealist=columnData.values

Column Contents :  [10000. 10000. 20000. ... 20000. 10000. 10000.]

In [52]:
range=[]
for i in np.arange(0,234,1):
    c=0
    for j in arealist:
        if(j>list[i] and j<=list[i+1]):
            c=c+1
    range.append(c)

In [53]:
range

[60102,
 242,
 85,
 58,
 34,
 24,
 20,
 15,
 9,
 7,
 4,
 6,
 2,
 7,
 7,
 4,
 2,
 2,
 2,
 1,
 1,
 2,
 3,
 4,
 1,
 4,
 1,
 0,
 1,
 2,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [55]:
range1=[]
for i in np.arange(0,234,1):
    c=0
    for j in arealist:
        if(j>list[i] and j<=list[i+1]):
            c=c+1
    range.append(c)

60102

In [61]:
list1=[]
p=0
for i in np.arange(9999,50009999,1000000):
    list1.append(i)
    p=p+1
list1

[9999,
 1009999,
 2009999,
 3009999,
 4009999,
 5009999,
 6009999,
 7009999,
 8009999,
 9009999,
 10009999,
 11009999,
 12009999,
 13009999,
 14009999,
 15009999,
 16009999,
 17009999,
 18009999,
 19009999,
 20009999,
 21009999,
 22009999,
 23009999,
 24009999,
 25009999,
 26009999,
 27009999,
 28009999,
 29009999,
 30009999,
 31009999,
 32009999,
 33009999,
 34009999,
 35009999,
 36009999,
 37009999,
 38009999,
 39009999,
 40009999,
 41009999,
 42009999,
 43009999,
 44009999,
 45009999,
 46009999,
 47009999,
 48009999,
 49009999]

In [62]:
p

50

In [65]:
range1=[]
for i in np.arange(0,48,1):
    c=0
    for j in arealist:
        if(j>list1[i] and j<=list1[i+1]):
            c=c+1
    range1.append(c)

In [66]:
range1

[51003,
 3437,
 1462,
 856,
 582,
 389,
 358,
 247,
 165,
 158,
 129,
 127,
 108,
 91,
 85,
 83,
 57,
 65,
 55,
 45,
 32,
 44,
 38,
 29,
 30,
 32,
 20,
 23,
 27,
 23,
 17,
 24,
 18,
 19,
 14,
 17,
 15,
 19,
 16,
 15,
 15,
 11,
 9,
 10,
 14,
 13,
 13,
 18]

In [69]:
list2=[]
p=0
for i in np.arange(9999,1009999,50000):
    list2.append(i)
    p=p+1
list1
p

20

In [72]:
range2=[]
for i in np.arange(0,18,1):
    c=0
    for j in arealist:
        if(j>list2[i] and j<=list2[i+1]):
            c=c+1
    range2.append(c)
range2

[39256,
 3677,
 1501,
 814,
 589,
 396,
 349,
 287,
 223,
 216,
 242,
 355,
 434,
 448,
 445,
 394,
 393,
 349]

In [74]:
for (columnName, columnData) in df.iteritems():
    if columnName=="perimeter":
        print('Column Contents : ', columnData.values)
        perilist=columnData.values

Column Contents :  [400. 400. 600. ... 600. 400. 400.]

In [90]:
listp=[]
p=0
for i in np.arange(399,26050000,500000):
    listp.append(i)
    p=p+1
listp

[399,
 500399,
 1000399,
 1500399,
 2000399,
 2500399,
 3000399,
 3500399,
 4000399,
 4500399,
 5000399,
 5500399,
 6000399,
 6500399,
 7000399,
 7500399,
 8000399,
 8500399,
 9000399,
 9500399,
 10000399,
 10500399,
 11000399,
 11500399,
 12000399,
 12500399,
 13000399,
 13500399,
 14000399,
 14500399,
 15000399,
 15500399,
 16000399,
 16500399,
 17000399,
 17500399,
 18000399,
 18500399,
 19000399,
 19500399,
 20000399,
 20500399,
 21000399,
 21500399,
 22000399,
 22500399,
 23000399,
 23500399,
 24000399,
 24500399,
 25000399,
 25500399,
 26000399]

In [89]:
range1p=[]
for i in np.arange(0,52,1):
    c=0
    for j in perilist:
        if(j>listp[i] and j<=listp[i+1]):
            c=c+1
    range1p.append(c)
range1p

[60524,
 91,
 22,
 13,
 4,
 6,
 4,
 1,
 2,
 2,
 0,
 0,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0]

In [94]:
listp1=[]
p=0
for i in np.arange(399,500399,10000):
    listp1.append(i)
    p=p+1
listp1

[399,
 10399,
 20399,
 30399,
 40399,
 50399,
 60399,
 70399,
 80399,
 90399,
 100399,
 110399,
 120399,
 130399,
 140399,
 150399,
 160399,
 170399,
 180399,
 190399,
 200399,
 210399,
 220399,
 230399,
 240399,
 250399,
 260399,
 270399,
 280399,
 290399,
 300399,
 310399,
 320399,
 330399,
 340399,
 350399,
 360399,
 370399,
 380399,
 390399,
 400399,
 410399,
 420399,
 430399,
 440399,
 450399,
 460399,
 470399,
 480399,
 490399]

In [93]:
range2p=[]
for i in np.arange(0,49,1):
    c=0
    for j in perilist:
        if(j>listp1[i] and j<=listp1[i+1]):
            c=c+1
    range2p.append(c)
range2p

[53384,
 3584,
 1234,
 679,
 337,
 256,
 179,
 131,
 84,
 85,
 57,
 58,
 45,
 38,
 42,
 27,
 26,
 27,
 24,
 22,
 15,
 13,
 10,
 14,
 9,
 15,
 16,
 10,
 6,
 8,
 9,
 10,
 4,
 5,
 2,
 7,
 6,
 8,
 3,
 3,
 4,
 3,
 3,
 8,
 5,
 3,
 2,
 0,
 1]

In [96]:
listp2=[]
p=0
for i in np.arange(399,10399,500):
    listp2.append(i)
    p=p+1
listp2
p

20

In [98]:
range3p=[]
for i in np.arange(0,19,1):
    c=0
    for j in perilist:
        if(j>listp2[i] and j<=listp2[i+1]):
            c=c+1
    range3p.append(c)
range3p

[35871,
 4202,
 3012,
 1052,
 1057,
 469,
 606,
 431,
 761,
 490,
 807,
 563,
 780,
 471,
 686,
 413,
 574,
 397,
 458]

In [104]:
c=0
max=0
min=0
for i, row in df.iterrows():
    c=c+1
    # Checking if its multigeometry
    multi = row.geometry.type.startswith("Multi")

    if multi:
        n = 0
        # Iterate over all parts
        for part in row.geometry:
            n += len(part.exterior.coords)
    else: 
        n = len(row.geometry.exterior.coords)
        if max<n:
            max=n
        else:
            min=n

84282

In [106]:
lesser=0
equal=0
greater=0
for i in arealist:
    if i<avg_size:
        lesser=lesser+1
    elif i>avg_size:
        greater=greater+1
    else:
        equal=equal+1

In [107]:
lesser

57623

In [108]:
greater

3060

In [109]:
equal

0

In [110]:
lesser=0
equal=0
greater=0
for i in perilist:
    if i<avg_perimeter:
        lesser=lesser+1
    elif i>avg_perimeter:
        greater=greater+1
    else:
        equal=equal+1

In [113]:
lesser

54116

In [114]:
greater

6567

In [115]:
equal

0